*
{
    margin: 0;
    box-sizing: border-box;
}
body
{
    min-height: 100vh;
    max-width: 100vw;
}
header
{
    height: 20vh;
    background-color: #ffffff;
    display: flex;
    border-bottom: 2px solid #F21D2F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo
{
    height: 18vh;
    padding: 0;
}

.navegacion
{
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
    padding: 0.8em;
    list-style-type: none;
    font-weight: bold;
    font-size: larger;
    color: #F21D2F;
    padding: 2em; 
    font-family: "Kaushan Script", cursive;
}

li:hover
{
    text-decoration: underline; 
    animation: moverTexto 1s;
}

.animacion:hover
{
    
}

@keyframes moverTexto
{
    0%
    {
        transform: translateX(0);
    }
    50%
    {
        transform: translateX(10px);
    }
    100%
    {
        transform: translateX(0);
    }
}

li
{
    display: inline-block;
    border-right: 0.2em #000000 solid;
    padding: 0.5em;
    margin: 3em;
}

a
{
    padding: 10px 20px; 
    border-radius: 5px;
    text-decoration: none;
    color: #F21D2F;
}

main
{
    height: 70vh;
    background: url(..//img/asanoha-400px.png) no-repeat;
    background-size: cover;
}

footer
{
    height: 15vh;
    background-color: #F21D2F;
}

@media (max-width: 768px) 
{
    header 
    {
        height: 15vh;
    }

    .logo 
    {
        height: 15vh;
    }

    main 
    {
        height: 50vh;
        background-image: url(..//img/asanoha-400px.png);
    }

    footer 
    {
        height: 10vh;
    }
}